.container {
    display: grid;
    place-items: center;
}

#star_container {
    display: flex;
    justify-content: center;
    gap: 10px
}

.star {
    font-size: 2rem;
    color: gray;
    cursor: pointer;
}

.star-fill {
    color: yellow;
}